workflows/P2 - Consumer Trend Discovery.json
{
  "name": "P2 - Consumer Trend Discovery",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "c4d41ad3-e85a-4af3-9f65-b9f720b8a006",
      "name": "When chat message received",
      "webhookId": "9a2a00f5-07ce-4ab4-b6f6-baaed5f346f7"
    },
    {
      "parameters": {
        "jsCode": "// STAGE 1: Input Parser\n// Extracts category, Amazon.com URLs, and validates input\n\nconst input = $input.first().json.chatInput || '';\n\n// Define valid categories\nconst categories = [\n  { key: 'area_rug', patterns: ['area rug', 'area rugs'] },\n  { key: 'outdoor_rug', patterns: ['outdoor rug', 'outdoor rugs', 'patio rug'] },\n  { key: 'hallway_runner', patterns: ['hallway runner', 'runner rug', 'hall runner', 'runners'] },\n  { key: 'shag_rug', patterns: ['shag rug', 'shag rugs', 'shaggy rug'] }\n];\n\n// Find selected category\nlet selectedCategory = null;\nlet categoryKey = null;\nconst lowerInput = input.toLowerCase();\n\nfor (const cat of categories) {\n  for (const pattern of cat.patterns) {\n    if (lowerInput.includes(pattern)) {\n      selectedCategory = cat.patterns[0].split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n      categoryKey = cat.key;\n      break;\n    }\n  }\n  if (selectedCategory) break;\n}\n\n// Extract Amazon.com URLs ONLY (reject other Amazon domains)\nconst amazonComRegex = /(https?:\\/\\/(?:www\\.)?amazon\\.com\\/[^\\s,]+)/gi;\nconst allAmazonUrls = input.match(amazonComRegex) || [];\n\n// Check for invalid Amazon domains (for warning)\nconst invalidAmazonRegex = /(https?:\\/\\/(?:www\\.)?amazon\\.(?!com)[a-z.]+\\/[^\\s,]+)/gi;\nconst invalidUrls = input.match(invalidAmazonRegex) || [];\n\n// Classify URLs into products vs collections\nconst productUrls = [];\nconst collectionUrls = [];\n\nallAmazonUrls.forEach(url => {\n  const cleanUrl = url.trim().replace(/,+$/, '');\n  \n  if (/\\/dp\\/|\\/gp\\/product\\//.test(cleanUrl)) {\n    productUrls.push(cleanUrl);\n  } else if (/\\/s\\?|\\/s\\/|\\/b\\/|\\/b\\?|\\/zgbs\\//.test(cleanUrl)) {\n    collectionUrls.push(cleanUrl);\n  }\n});\n\n// Extract optional trend focus\nconst trendFocusMatch = input.match(/focus[:\\s]+[\"']?([^\"'\\n,]+)[\"']?/i);\nconst trendFocus = trendFocusMatch ? trendFocusMatch[1].trim() : null;\n\n// Determine if input is valid\nconst hasCategory = selectedCategory !== null;\nconst hasUrls = productUrls.length > 0 || collectionUrls.length > 0;\nconst isValid = hasCategory && hasUrls;\n\nreturn [{\n  json: {\n    rawInput: input,\n    selectedCategory: selectedCategory,\n    categoryKey: categoryKey,\n    productUrls: productUrls,\n    collectionUrls: collectionUrls,\n    invalidUrls: invalidUrls,\n    trendFocus: trendFocus,\n    hasCategory: hasCategory,\n    hasUrls: hasUrls,\n    isValid: isValid,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "29a657ad-ab48-497d-92a9-519065da76c3",
      "name": "Input Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ff6004d5-9a66-43b2-ac65-ca52679f9f34",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        0
      ],
      "id": "d0ec75b3-79e1-411c-8900-73f303b651c5",
      "name": "Category Validator1"
    },
    {
      "parameters": {
        "jsCode": "// Error Response for invalid input\nconst input = $input.first().json;\n\nlet errorParts = [];\n\nif (!input.hasCategory) {\n  errorParts.push('**Category not detected.** Please specify one of:\\n- Area Rug\\n- Outdoor Rug\\n- Hallway Runner\\n- Shag Rug');\n}\n\nif (!input.hasUrls) {\n  errorParts.push('**No Amazon.com URLs found.** Please provide at least one Amazon product or collection URL.');\n}\n\nif (input.invalidUrls && input.invalidUrls.length > 0) {\n  errorParts.push(`**Note:** ${input.invalidUrls.length} non-US Amazon URL(s) were ignored. Please use amazon.com links only.`);\n}\n\nlet errorMsg = 'I could not process your request:\\n\\n' + errorParts.join('\\n\\n');\nerrorMsg += '\\n\\n---\\n\\n**Example input:**\\n';\nerrorMsg += 'Category: Outdoor Rug\\n';\nerrorMsg += 'https://www.amazon.com/s?k=outdoor+rugs\\n';\nerrorMsg += 'https://www.amazon.com/dp/B08XYZ1234';\n\nreturn [{ json: { error: true, message: errorMsg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        160
      ],
      "id": "9343d171-4c96-46a1-8a33-20b10f5fe8eb",
      "name": "Error Response1"
    },
    {
      "parameters": {
        "content": "## STAGE 1: INPUT & ROUTING\n- User sends message\n- Input Parser extracts data (Category name, URLs, Validation flags)\n- Validator checks (Is everything present?)\n- Valid = continue to next stage\n- Invalid = output error message ",
        "height": 512,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -192
      ],
      "typeVersion": 1,
      "id": "9b691a9c-f4be-4773-ac0a-63adaae740ff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Get category key for Extern API calls\nconst categoryKey = $('Input Parser1').first().json.categoryKey;\nconst selectedCategory = $('Input Parser1').first().json.selectedCategory;\n\nreturn [{ \n  json: { \n    categoryKey: categoryKey || 'area_rug',\n    selectedCategory: selectedCategory || 'Area Rug'\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        736
      ],
      "id": "8acaef42-40f5-4857-882c-65ce8e88a9e2",
      "name": "Get Category Key"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/trends/pinterest",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('Get Category Key').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        640
      ],
      "id": "1be63ebc-d8d2-4049-bceb-a16eca072dd5",
      "name": "Fetch Pinterest"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/trends/blogs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('Get Category Key').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        816
      ],
      "id": "509491db-37ee-4131-a462-cc1498638062",
      "name": "Fetch Blogs"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/trends/blogs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('Get Category Key').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "blog_type",
              "value": "market"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        992
      ],
      "id": "9681f5de-baa7-4420-8f0a-48b7f8b5b256",
      "name": "Fetch Market Data"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1456,
        688
      ],
      "id": "bc90fcc2-b97f-465b-a031-114888cc2225",
      "name": "Merge API Data"
    },
    {
      "parameters": {
        "jsCode": "// Merge all social data from Extern API (with image support)\nlet instagram = { items: [] };\nlet pinterest = { items: []} ;\nlet blogs = { items: [] };\n\ntry {\n  instagram = $('Fetch Instagram').first().json || { items: [] };\n} catch (e) { instagram = { items: [] }; }\n\ntry {\n  pinterest = $('Fetch Pinterest').first().json || { items: [] };\n} catch (e) { pinterest = { items: [] }; }\n\ntry {\n  blogs = $('Fetch Blogs').first().json || { items: [] };\n} catch (e) { blogs = { items: [] }; }\n   \n// Extract images for analysis (limit 2-3 per source)\nconst extractImages = (items, source, limit = 3) => {\n  return (items || [])\n    .filter(item => item.image_base64)\n    .slice(0, limit)\n    .map(item => ({\n      source: source,\n      id: item.id,\n      caption: item.caption || '',\n      image_base64: item.image_base64,\n      mime_type: item.image_mime_type || 'image/jpeg'\n    }));\n};\n\nconst socialImages = [\n  ...extractImages(instagram.items, 'instagram', 3),\n  ...extractImages(pinterest.items, 'pinterest', 3)\n];\n\nreturn [{\n  json: {\n    socialData: {\n      instagram: instagram.items || [],\n      pinterest: pinterest.items || [],\n      blogs: blogs.items || []\n    },\n    socialImages: socialImages,\n    totalSocialItems: (instagram.items?.length || 0) + (pinterest.items?.length || 0) + (blogs.items?.length || 0),\n    totalSocialImages: socialImages.length,\n    externalApiStatus: {\n      instagram: instagram.items?.length > 0 ? 'success' : 'empty_or_failed',\n      pinterest: pinterest.items?.length > 0 ? 'success' : 'empty_or_failed',\n      blogs: blogs.items?.length > 0 ? 'success' : 'empty_or_failed'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        720
      ],
      "id": "2a90b87c-7f02-40a8-a9ff-21fdfa2a9762",
      "name": "Merge Social Data"
    },
    {
      "parameters": {
        "jsCode": "// Extract captions and hashtags from social data as visual trend signals\n  const items = $input.all();\n  const socialData = items[0]?.json?.socialData || {};\n\n  const instagram = socialData?.instagram || [];\n  const pinterest = socialData?.pinterest || [];\n\n// Combine all captions and hashtags\n  const instagramInsights = instagram.map(post => ({\n    source: 'instagram',\n    caption: post.caption || '',\n    hashtags: post.hashtags || [],\n    engagement: post.engagement || 0\n  }));\n\n  const pinterestInsights = pinterest.map(pin => ({\n    source: 'pinterest',\n    caption: pin.caption || '',\n    hashtags: pin.hashtags || [],\n    engagement: pin.engagement || 0\n  }));\n\n  const allInsights = [...instagramInsights, ...pinterestInsights];\n\n  // Extract all hashtags for trend analysis\n  const allHashtags = allInsights.flatMap(item => item.hashtags);\n  const hashtagCounts = {};\n  allHashtags.forEach(tag => {\n    hashtagCounts[tag] = (hashtagCounts[tag] || 0) + 1;\n  });\n\n  // Sort hashtags by frequency\n  const topHashtags = Object.entries(hashtagCounts)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 20)\n    .map(([tag, count]) => ({ tag, count }));\n\n  // Combine all captions for trend keywords\n  const allCaptions = allInsights.map(item => item.caption).join(' ');\n\n  return [{\n    json: {\n      imageAnalysis: {\n        trend_summary: {\n          top_hashtags: topHashtags,\n          total_posts_analyzed: allInsights.length,\n          instagram_count: instagram.length,\n          pinterest_count: pinterest.length,\n          caption_insights: allCaptions.substring(0, 2000) // Limit length\n        },\n        source: 'social_captions_and_hashtags'\n      },\n      socialImages: $input.first().json.socialImages || [],\n      analysisSuccess: true,\n      reason: 'Using social captions and hashtags for trend analysis'\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        720
      ],
      "id": "17dbe87a-dd45-447b-ba11-127265a4afba",
      "name": "Merge Image Analysis"
    },
    {
      "parameters": {
        "content": "## STAGE 2B: EXTERN API + IMAGE ANALYSIS\n\nCalls FastAPI server for social data:\n- Instagram trends (with images)\n- Pinterest boards (with images)\n- Blog posts (text only)\n",
        "height": 848,
        "width": 2384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        336
      ],
      "typeVersion": 1,
      "id": "476d4170-c4eb-4413-af80-0c2628b39eae",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3200,
        288
      ],
      "id": "7715c02e-3eaf-414e-944e-7c075d1ebeaa",
      "name": "Merge All Data"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3424,
        288
      ],
      "id": "b12f4965-d2c7-4b65-887d-ced4cb1c7992",
      "name": "Wait2",
      "webhookId": "57a00ac5-248c-46c6-a550-947cd43abe30"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=PRODUCTS TO CLASSIFY:\n{{ JSON.stringify($json.amazonProducts, null, 2) }}\n\nSELECTED CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\nCATEGORY KEY: {{ $('Input Parser1').first().json.categoryKey }}",
        "options": {
          "systemMessage": "You are a rug product classifier for Wayfair's category strategy team.\n\nYour task: Analyze Amazon product data and determine if each product belongs to the SELECTED CATEGORY.\n\nCATEGORY DEFINITIONS:\n\n**Area Rug (area_rug):**\n- Movable floor covering for a specific room section\n- Sizes: Small (3'×5'), Medium (5'×8'), Large (8'×10'), XL (10'×14'+)\n- Materials: Wool, cotton, jute, polyester, polypropylene\n- NOT: wall-to-wall carpet, outdoor rugs, runners, bath/kitchen rugs\n\n**Outdoor Rug (outdoor_rug):**\n- Weather-resistant for exterior/semi-exterior spaces\n- Materials: Polypropylene, polyester, PET, synthetic blends\n- Thinner profile (~4-12mm), quick-drying\n- NOT: indoor-only, thick/plush, water-absorbent\n\n**Hallway Runner (hallway_runner):**\n- Long, narrow rug for pathways\n- Width: 2'-3', Length: 6'-14'+\n- Low to medium pile for safe walking\n- NOT: area rugs, square/round shapes, high-pile\n\n**Shag Rug (shag_rug):**\n- High-pile (above 1 inch/25mm), plush texture\n- Materials: Polyester, wool, microfiber, acrylic\n- For comfort, bedrooms, lounging areas\n- NOT: low-pile, flatweave, high-traffic rugs\n\nCLASSIFICATION RULES:\n1. Analyze product name, details, and specifications\n2. Determine if product matches the SELECTED category\n3. Mark as \"match\" if it fits, \"no_match\" if it doesn't, \"uncertain\" if unclear\n4. Consider: pile height, dimensions (runners are long/narrow), materials, intended placement\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"selected_category\": \"the category user selected\",\n  \"classifications\": [\n    {\n      \"url\": \"product url\",\n      \"name\": \"product name\",\n      \"match_status\": \"match|no_match|uncertain\",\n      \"confidence\": \"high|medium|low\",\n      \"reasoning\": \"Brief explanation why it does or doesn't match\"\n    }\n  ],\n  \"summary\": {\n    \"total\": 0,\n    \"matches\": 0,\n    \"no_matches\": 0,\n    \"uncertain\": 0\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3648,
        288
      ],
      "id": "56b4ccaf-32e8-48a9-97cc-4b1d04045fd4",
      "name": "Judge Product Category"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3520,
        528
      ],
      "id": "13b128e6-5156-49f3-97a3-1411773ed134",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "rg7PENhB875LmFyX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter products to only those matching the selected category\nlet output = $input.first().json.output;\n\n// Parse AI output (handle markdown code blocks if present)\nif (typeof output === 'string') {\n  output = output.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try {\n    output = JSON.parse(output);\n  } catch (e) {\n    return [{ json: { error: 'Failed to parse classifier output', filteredProducts: [] } }];\n  }\n}\n\nconst classifications = output.classifications || [];\nconst amazonProducts = $('Deduplicate + Combine Final Amazon Product List1').first().json.amazonProducts || [];\n\n// Filter to only matching products\nconst matchingUrls = new Set(\n  classifications\n    .filter(c => c.match_status === 'match' && c.confidence !== 'low')\n    .map(c => c.url)\n);\n\nconst filteredProducts = amazonProducts\n  .filter(p => matchingUrls.has(p.url))\n  .map(p => {\n    const classification = classifications.find(c => c.url === p.url);\n    return {\n      ...p,\n      classification_reasoning: classification?.reasoning || ''\n    };\n  });\n\nreturn [{\n  json: {\n    filteredProducts: filteredProducts,\n    totalFiltered: filteredProducts.length,\n    classificationSummary: output.summary || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        288
      ],
      "id": "42c6a471-97db-4140-9fbe-5cd4ca09f8d9",
      "name": "Remove Invalid Products"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=FILTERED PRODUCTS:\n{{ JSON.stringify($json.filteredProducts, null, 2) }}",
        "options": {
          "systemMessage": "You are a product attribute extraction specialist for rug market analysis.\n\nFor each rug product, extract and NORMALIZE these attributes:\n\n1. SIZE: Convert to standard format \"X'×Y'\" (e.g., \"5'×8'\", \"2'×10'\")\n   - Map variants: \"5x7\" → \"5'×7'\", \"6 by 9\" → \"6'×9'\"\n   - For runners: emphasize length (e.g., \"2'×8'\")\n\n2. COLOR: Primary color family\n   - Options: Cream, White, Gray, Charcoal, Beige, Taupe, Brown, Blue, Navy, Teal, Green, Red, Orange, Pink, Purple, Multi, Black, Gold\n\n3. MATERIAL: Primary fiber\n   - Options: Wool, Cotton, Jute, Polyester, Polypropylene, Nylon, Viscose, Microfiber, Blend, Synthetic\n\n4. PATTERN: Visual pattern type\n   - Options: Solid, Geometric, Floral, Abstract, Medallion, Striped, Moroccan, Distressed, Braided, Textured, Oriental, Tribal, Chevron, Trellis\n\n5. STYLE: Design aesthetic\n   - Options: Modern, Traditional, Transitional, Bohemian, Farmhouse, Coastal, Minimalist, Vintage, Contemporary, Industrial, Mid-Century\n\n6. PILE_HEIGHT: Texture category\n   - Options: Flatweave, Low-pile, Medium-pile, High-pile, Shag\n\n7. PRICE_BUCKET:\n   - Under $50, $50-100, $100-200, $200-500, $500+\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"products\": [\n    {\n      \"url\": \"...\",\n      \"name\": \"...\",\n      \"attributes\": {\n        \"size\": \"5'×8'\",\n        \"color\": \"Gray\",\n        \"material\": \"Polyester\",\n        \"pattern\": \"Geometric\",\n        \"style\": \"Modern\",\n        \"pile_height\": \"Low-pile\",\n        \"price_bucket\": \"$100-200\"\n      }\n    }\n  ],\n  \"summary\": {\n    \"top_sizes\": [\"5'×8'\", \"8'×10'\"],\n    \"top_colors\": [\"Gray\", \"Cream\", \"Blue\"],\n    \"top_materials\": [\"Polyester\", \"Polypropylene\"],\n    \"top_patterns\": [\"Geometric\", \"Distressed\"],\n    \"top_styles\": [\"Modern\", \"Transitional\"],\n    \"price_distribution\": {\"Under $50\": 2, \"$50-100\": 5, \"$100-200\": 8}\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4224,
        288
      ],
      "id": "713f2692-c5e7-4cfb-87f7-7e63d0b95be5",
      "name": "Standardize Details"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        4128,
        544
      ],
      "id": "f7eeeff3-3416-40da-9b33-4195157298ed",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "rg7PENhB875LmFyX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawOutput = $input.first().json.output;\nlet parsedOutput = {};\n\nif (typeof rawOutput === 'string') {\n  rawOutput = rawOutput.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try {\n    parsedOutput = JSON.parse(rawOutput);\n  } catch (e) {\n    return [{ json: { error: 'Failed to parse attributes', attributeData: null } }];\n  }\n} else if (typeof rawOutput === 'object' && rawOutput !== null) {\n  parsedOutput = rawOutput;\n}\n\nreturn [{\n  json: {\n    attributeData: parsedOutput,\n    products: Array.isArray(parsedOutput.products) ? parsedOutput.products : [],\n    summary: parsedOutput.summary || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        288
      ],
      "id": "8d027062-4e6d-4093-9978-4d4e0e45d1ae",
      "name": "Save Standardized Data"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4768,
        288
      ],
      "id": "e0945922-7979-40b9-9f28-d840c0a06c95",
      "name": "Wait3",
      "webhookId": "0bcba0c4-5784-4c46-97a6-f1ef54b43255"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nPRODUCT ATTRIBUTES:\n{{ JSON.stringify($json.attributeData, null, 2) }}\n\nSOCIAL DATA (text signals):\n{{ JSON.stringify({ instagram: ($('Merge Social Data').first().json.socialData.instagram || []).map(i => ({ id: i.id, caption: i.caption, hashtags: i.hashtags })), pinterest: ($('Merge Social Data').first().json.socialData.pinterest || []).map(p => ({ id: p.id, title: p.title, description: p.description})), blogs: ($('Merge Social Data').first().json.socialData.blogs || []).map(b => ({ id: b.id, title: b.title, summary: b.summary, key_trends: b.key_trends })) }, null, 2) }}\n\nVISUAL TREND ANALYSIS (from Instagram/Pinterest images):\n{{ JSON.stringify($('Merge Image Analysis').first().json.imageAnalysis, null, 2) }}",
        "options": {
          "systemMessage": "You are a trend analyst identifying style micro-segments within a rug category.\n\nINPUTS:\n- Product data with extracted attributes\n- Social media signals (Instagram captions, Pinterest boards, blog trends)\n- VISUAL TREND ANALYSIS from AI-analyzed Instagram/Pinterest images (colors, patterns, styles, textures, moods)\n\nTASK:\nIdentify 2-3 distinct STYLE MICRO-SEGMENTS within this category.\n\nIMPORTANT: Heavily weight the VISUAL TREND ANALYSIS data - it contains AI-extracted insights from real trending images including dominant colors, patterns, styles, and overall aesthetic direction. Use this to ground your micro-segments in actual visual trends.\n\nA micro-segment is a specific aesthetic direction with:\n- Clear visual identity (informed by image analysis)\n- Consistent color palette (use colors from visual analysis)\n- Common materials/textures (match textures seen in images)\n- Target use case\n\nEXAMPLES OF MICRO-SEGMENTS:\n- \"Vintage Distressed Medallion\" - antique-look, faded patterns, neutral tones\n- \"Modern Geometric Minimalist\" - clean lines, monochromatic, low-pile\n- \"Bohemian Textured\" - layered textures, warm earth tones, natural fibers\n- \"Coastal Casual\" - blues, whites, natural jute, relaxed aesthetic\n- \"Farmhouse Braided\" - traditional braided look, warm neutrals, rustic charm\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"micro_segments\": [\n    {\n      \"name\": \"Segment Name\",\n      \"description\": \"2-3 sentence description of the aesthetic and why it's trending\",\n      \"visual_characteristics\": [\"characteristic 1\", \"characteristic 2\", \"characteristic 3\"],\n      \"color_palette\": [\"color1\", \"color2\", \"color3\"],\n      \"typical_materials\": [\"material1\", \"material2\"],\n      \"target_rooms\": [\"living room\", \"bedroom\"],\n      \"price_positioning\": \"value|mid-range|premium\",\n      \"trend_signals\": [\"evidence from visual analysis\", \"evidence from product data\", \"evidence from social captions\"],\n      \"image_prompt_keywords\": [\"keyword1\", \"keyword2\", \"keyword3\", \"keyword4\"]\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4960,
        288
      ],
      "id": "6d448b53-949e-4dc7-a91a-afc9a04d7c1a",
      "name": "Identify Top Trends"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        4848,
        528
      ],
      "id": "d8312669-786c-45a0-941d-498773c84a32",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "rg7PENhB875LmFyX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse micro-segment output\nlet output = $input.first().json.output;\n\nif (typeof output === 'string') {\n  output = output.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try {\n    output = JSON.parse(output);\n  } catch (e) {\n    // Create default segments if parsing fails\n    output = {\n      micro_segments: [\n        {\n          name: 'Classic Neutral',\n          description: 'Timeless neutral tones with subtle patterns',\n          visual_characteristics: ['neutral colors', 'subtle patterns', 'versatile design'],\n          color_palette: ['Cream', 'Gray', 'Beige'],\n          typical_materials: ['Polyester', 'Polypropylene'],\n          target_rooms: ['living room', 'bedroom'],\n          price_positioning: 'mid-range',\n          trend_signals: ['Based on product data analysis'],\n          image_prompt_keywords: ['neutral rug', 'modern interior', 'cozy living room']\n        }\n      ]\n    };\n  }\n}\n\nconst segments = output.micro_segments || [];\n\nreturn [{\n  json: {\n    microSegments: segments,\n    segmentCount: segments.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        288
      ],
      "id": "84d6722d-1d8c-4b45-9939-238376918186",
      "name": "Save Trend List"
    },
    {
      "parameters": {
        "jsCode": "// Split micro-segments for individual image generation\nconst segments = $input.first().json.microSegments || [];\n\nif (segments.length === 0) {\n  return [{ json: { segment: null, skip: true } }];\n}\n\nreturn segments.map(segment => ({ json: { segment } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5456,
        288
      ],
      "id": "5be0bd21-cbd2-4ad6-901d-bd4f8f3fc48e",
      "name": "Split Segments for Images"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bfbf3a8e-41a6-449e-ab5d-7e4db8e990cf",
              "leftValue": "={{ $json.segment }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5664,
        288
      ],
      "id": "c6b2612d-ffd2-4062-872a-ab0a46c28f7a",
      "name": "Check Segment Exists"
    },
    {
      "parameters": {
        "content": "## STAGE 3: AI PROCESSING\n- Category Classifier - filters products to match selected category\n- Attribute Extractor - normalizes size, color, material, pattern, style, price\n- Micro-Segment Identifier - finds 2-3 style trends within category",
        "height": 704,
        "width": 2784,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3024,
        0
      ],
      "typeVersion": 1,
      "id": "5f3f4178-74fd-4a5c-86bf-b3794f289475",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5920,
        288
      ],
      "id": "6e8328c1-8943-4491-acd8-975a966e4f21",
      "name": "Wait4",
      "webhookId": "c9f64522-746f-4b8c-a1d6-cda783af14f2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MICRO-SEGMENT:\nName: {{ $json.segment.name }}\nDescription: {{ $json.segment.description }}\nVisual Characteristics: {{ $json.segment.visual_characteristics.join(', ') }}\nColor Palette: {{ $json.segment.color_palette.join(', ') }}\nMaterials: {{ $json.segment.typical_materials.join(', ') }}\nTarget Rooms: {{ $json.segment.target_rooms.join(', ') }}\nKeywords: {{ $json.segment.image_prompt_keywords.join(', ') }}\n\nRUG CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}",
        "options": {
          "systemMessage": "You are an expert image generation prompt engineer specializing in interior design photography and moodboards.\n\nCreate a detailed prompt for generating a photorealistic moodboard image showcasing this rug style.\n\nThe image should feature:\n1. A beautiful, realistic interior room setting appropriate for the rug style\n2. The rug as the clear focal point, showing its pattern, texture, and colors\n3. Complementary furniture and decor that enhances the rug's aesthetic\n4. Natural, warm lighting that highlights textures\n5. Professional interior photography composition\n\nPROMPT REQUIREMENTS:\n- Write as a single flowing paragraph\n- Be specific about colors (use exact color names)\n- Describe materials and textures in detail\n- Include the room type and atmosphere\n- Mention lighting quality\n- Keep under 150 words\n- Do NOT use bullet points or lists\n- Do NOT include any markdown formatting\n\nOUTPUT: Only the prompt text, nothing else. No quotes, no explanations, no labels."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6112,
        288
      ],
      "id": "0001c907-b036-48fe-9d91-6afa70d2c6a4",
      "name": "Generate Image Prompt"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        5984,
        512
      ],
      "id": "1f44eb4e-20de-4997-ae44-afd09539ef9d",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "rg7PENhB875LmFyX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean prompt for Hugging Face API\nlet inputPrompt = $input.first().json.output || '';\nconst segmentName = $input.first().json.segment?.name || 'Style';\n\n// Remove line breaks\nlet cleanPrompt = inputPrompt.split(/\\r?\\n/).join(' ');\n\n// Remove Markdown formatting\ncleanPrompt = cleanPrompt.replace(/\\*\\*/g, '').replace(/\\*/g, '');\n\n// Replace double quotes with single quotes\ncleanPrompt = cleanPrompt.replace(/\"/g, \"'\");\n\n// Remove extra whitespace\ncleanPrompt = cleanPrompt.replace(/\\s+/g, ' ').trim();\n\n// Add quality boosters if not present\nif (!cleanPrompt.toLowerCase().includes('professional')) {\n  cleanPrompt = 'Professional interior design photography, ' + cleanPrompt;\n}\nif (!cleanPrompt.toLowerCase().includes('high quality')) {\n  cleanPrompt += ', high quality, detailed textures, natural lighting';\n}\n\nreturn [{\n  json: {\n    prompt: cleanPrompt,\n    segmentName: segmentName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6464,
        288
      ],
      "id": "29689dce-ecab-44cc-9f80-dc964ee17f2a",
      "name": "Clean Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"inputs\": \"{{ $json.prompt }}\" }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6688,
        288
      ],
      "id": "73d22434-6e62-4e30-a477-b6d7d993f0e8",
      "name": "Generate Image (Hugging Face)",
      "credentials": {
        "huggingFaceApi": {
          "id": "4n4g5CXqvlNJ2bA4",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Encode Hugging Face image to base64 for HTML embedding\n\nconst items = $input.all();\n\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const segmentName = item.json.segmentName || 'Style';\n\n  if (item.binary) {\n    const binaryKey = Object.keys(item.binary)[0];\n\n    // This properly reads binary in filesystem mode\n    const buffer = await this.helpers.getBinaryDataBuffer(i, binaryKey);\n\n    results.push({\n      json: {\n        segmentName,\n        base64Image: buffer.toString('base64'),\n        mimeType: item.binary[binaryKey].mimeType || 'image/png',\n        hasImage: true\n      }\n    });\n  } else {\n    results.push({\n      json: {\n        segmentName,\n        base64Image: null,\n        mimeType: null,\n        hasImage: false,\n        error: 'No binary data returned from Hugging Face'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6896,
        288
      ],
      "id": "07b21603-5575-4b14-9041-9218660d5181",
      "name": "Encode to Base"
    },
    {
      "parameters": {
        "content": "## STAGE 4: IMAGE GENERATION\nFor each micro-segment:\n- Generate optimized image prompt\n- Clean prompt for API\n- Call HuggingFace FLUX.1-schnell\n- Encode to base64 for HTML embedding",
        "height": 704,
        "width": 1232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5824,
        0
      ],
      "typeVersion": 1,
      "id": "ddcca230-e243-462f-a08d-3c9312bf6949",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Collect all generated images\nconst allImages = $input.all().map(item => ({\n  segmentName: item.json.segmentName,\n  base64Image: item.json.base64Image,\n  mimeType: item.json.mimeType || 'image/png',\n  hasImage: item.json.hasImage || false\n}));\n\nconst validImages = allImages.filter(img => img.hasImage && img.base64Image);\n\nreturn [{\n  json: {\n    generatedImages: validImages,\n    totalImages: validImages.length,\n    failedImages: allImages.length - validImages.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7184,
        544
      ],
      "id": "3c1bab8a-825d-4372-91c8-f8ada02dafb9",
      "name": "Collect All Images"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=BLOG CONTENT:\n{{ JSON.stringify($('Merge Social Data').first().json.socialData.blogs, null, 2) }}\n\nCATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}",
        "options": {
          "systemMessage": "You are a domain expert extracting structured knowledge from home decor blog articles.\n\nTASK: Analyze the blog content and extract key expertise relevant to the rug category specified.\n\nExtract the following structured knowledge:\n\n1. MATERIAL EXPERTISE\n   - Best materials for this rug type and why\n   - Pros and cons of each material\n   - Durability ratings\n   - Care requirements by material\n\n2. SIZING GUIDE\n   - Room-by-room size recommendations\n   - Furniture placement rules\n   - Common sizing mistakes to avoid\n\n3. STYLE & TREND INSIGHTS\n   - Current design trends mentioned\n   - Color palette recommendations\n   - Pattern advice\n   - Style matching guidance\n\n4. BUYER GUIDANCE\n   - Key purchase considerations\n   - Quality indicators to look for\n   - Price-to-quality expectations\n   - Common buyer mistakes\n\n5. CARE & MAINTENANCE\n   - Cleaning recommendations\n   - Longevity tips\n   - When to replace\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"materials\": {\n    \"recommendations\": [\"material1 - reason\", \"material2 - reason\"],\n    \"durability\": {\"wool\": \"high\", \"polyester\": \"medium\"},\n    \"care_needs\": {\"wool\": \"professional cleaning\", \"polyester\": \"machine washable\"}\n  },\n  \"sizing\": {\n    \"living_room\": \"8x10 or 9x12 for most rooms\",\n    \"bedroom\": \"5x8 beside bed or 8x10 under bed\",\n    \"dining\": \"extend 24 inches beyond table\",\n    \"rules\": [\"Leave 12-18 inches from walls\", \"Front legs of furniture on rug\"]\n  },\n  \"style_insights\": {\n    \"trending\": [\"natural fibers\", \"vintage distressed\", \"neutral palettes\"],\n    \"color_advice\": \"Neutral palettes dominate...\",\n    \"pattern_tips\": \"Geometric patterns for modern, medallion for traditional\"\n  },\n  \"buyer_guidance\": {\n    \"quality_indicators\": [\"knots per inch\", \"pile density\", \"backing quality\"],\n    \"considerations\": [\"traffic level\", \"pets\", \"allergies\", \"sunlight exposure\"],\n    \"price_tiers\": {\"budget\": \"$50-150\", \"mid\": \"$150-400\", \"premium\": \"$400+\"}\n  },\n  \"care\": {\n    \"cleaning\": \"Vacuum weekly, deep clean annually\",\n    \"maintenance\": [\"rotate every 6 months\", \"use rug pad\", \"blot spills immediately\"],\n    \"lifespan\": \"5-15 years depending on material and traffic\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7360,
        288
      ],
      "id": "032afd98-cdf2-4dcf-aa9d-6ce470319684",
      "name": "Blog Knowledge Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7488,
        528
      ],
      "id": "aedac3fa-1684-4739-b854-b9b18e689403",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FvFcjhfK7nSfhmNN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Blog Knowledge output\nvar output = $input.first().json.output;\n\nif (typeof output === 'string') {\n  // Remove markdown code fences\n  output = output.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try {\n    output = JSON.parse(output);\n  } catch (e) {\n    // Fallback structure if parsing fails\n    output = {\n      materials: { recommendations: [], durability: {}, care_needs: {} },\n      sizing: { rules: [] },\n      style_insights: { trending: [] },\n      buyer_guidance: { quality_indicators: [], considerations: [] },\n      care: { maintenance: [] }\n    };\n  }\n}\n\nreturn [{\n  json: {\n    blogKnowledge: output,\n    extractedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7680,
        288
      ],
      "id": "5ca8bbdf-6b4f-451a-9788-da80ba831a66",
      "name": "Parse Blog Knowledge"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Input Parser1').first().json;\nconst social = $('Merge Social Data').first().json;\nconst products = $('Remove Invalid Products').first().json;\n\nconst date = new Date().toLocaleDateString();\nconst category = input.selectedCategory || 'Unknown';\nconst categoryKey = input.categoryKey || '';\nconst productCount = products.totalFiltered || 0;\nconst igCount = (social.socialData && social.socialData.instagram) ? social.socialData.instagram.length : 0;\nconst pinCount = (social.socialData && social.socialData.pinterest) ? social.socialData.pinterest.length : 0;\nconst blogCount = (social.socialData && social.socialData.blogs) ? social.socialData.blogs.length : 0;\n\nconst html = '<section class=\"scope-section\">' +\n  '<h2>Scope of Research</h2>' +\n  '<div class=\"scope-grid\">' +\n    '<div class=\"scope-card\">' +\n      '<div class=\"scope-icon\">📅</div>' +\n      '<h4>Timeframe</h4>' +\n      '<p>Current market snapshot<br><small>Generated: ' + date + '</small></p>' +\n    '</div>' +\n    '<div class=\"scope-card\">' +\n      '<div class=\"scope-icon\">🌍</div>' +\n      '<h4>Market</h4>' +\n      '<p>US Residential<br><small>E-commerce focus</small></p>' +\n    '</div>' +\n    '<div class=\"scope-card\">' +\n      '<div class=\"scope-icon\">📊</div>' +\n      '<h4>Data Sources</h4>' +\n      '<ul>' +\n        '<li>Amazon product listings (' + productCount + ' products)</li>' +\n        '<li>Instagram trends (' + igCount + ' posts)</li>' +\n        '<li>Pinterest boards (' + pinCount + ' pins)</li>' +\n        '<li>Industry blogs (' + blogCount + ' articles)</li>' +\n      '</ul>' +\n    '</div>' +\n    '<div class=\"scope-card\">' +\n      '<div class=\"scope-icon\">🎯</div>' +\n      '<h4>Category Focus</h4>' +\n      '<p>' + category + '<br><small>' + categoryKey + '</small></p>' +\n    '</div>' +\n  '</div>' +\n'</section>';\n\nreturn [{ json: { sectionHtml: html, sectionName: 'scope' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7872,
        288
      ],
      "id": "b29a3dc3-c4d8-4cc8-be44-b296e3f76919",
      "name": "Scope Generator"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8064,
        288
      ],
      "id": "07819e0b-3db4-4cad-933f-1927a2e6b427",
      "name": "Wait5",
      "webhookId": "8e178383-e67d-4c49-be66-5affa2c9f0c4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nATTRIBUTE SUMMARY:\n{{ JSON.stringify($('Save Standardized Data').first().json.summary, null, 2) }}\n\nMICRO-SEGMENTS:\n{{ JSON.stringify($('Save Trend List').first().json.microSegments, null, 2) }}\n\nVISUAL TRENDS:\n{{ JSON.stringify($('Merge Image Analysis').first().json.imageAnalysis?.trend_summary, null, 2) }}\n\nBLOG INSIGHTS:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.style_insights, null, 2) }}\n\nPRODUCT COUNT: {{ $('Remove Invalid Products').first().json.totalFiltered }}\n\nSOCIAL ITEMS: {{ $('Merge Social Data').first().json.totalSocialItems }}",
        "options": {
          "systemMessage": "You are a senior market analyst writing an executive summary for Wayfair's category strategy team.\n\nTASK: Write a compelling Executive Summary section for the trend report.\n\nREQUIREMENTS:\n1. Lead with the single most important insight\n2. Include 4-5 key bullet points covering:\n   - Primary trend direction\n   - Top-performing product attributes\n   - Emerging micro-segments to watch\n   - Market opportunity or risk signal\n   - Actionable recommendation\n\n3. Add a \"Why This Matters\" paragraph (2-3 sentences)\n\nOUTPUT FORMAT (HTML only, no markdown fences):\n<section class=\"executive-summary\">\n  <h2>Executive Summary</h2>\n  <div class=\"summary-hero\">\n    <div class=\"key-insight\">\n      <span class=\"label\">Key Insight</span>\n      <p>[Single most important finding]</p>\n    </div>\n  </div>\n  <div class=\"summary-points\">\n    <h3>Key Findings</h3>\n    <ul>\n      <li><strong>[Topic]:</strong> [Insight]</li>\n    </ul>\n  </div>\n  <div class=\"why-matters\">\n    <h3>Why This Matters</h3>\n    <p>[Strategic implications]</p>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8256,
        288
      ],
      "id": "0a18b2bb-09ef-47d0-a567-aed2b4b2090d",
      "name": "Executive Summary Generator"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        8144,
        512
      ],
      "id": "49002720-3211-4b51-a1ea-17da7bab2f8b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "FvFcjhfK7nSfhmNN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8592,
        288
      ],
      "id": "5b63324a-a300-4c71-a6a0-62ece800afb8",
      "name": "Wait6",
      "webhookId": "01a780a2-f163-494e-9b59-fbbb68a0ddee"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nMARKET DATA (QUANTITATIVE - USE FOR STATISTICS):\n{{ JSON.stringify($('Fetch Market Data').first().json.items[0]?.content, null, 2) }}\n\nBLOG KNOWLEDGE (YOUR PRIMARY SOURCE):\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge, null, 2) }}\n\nPRODUCT PRICE DATA:\n{{ JSON.stringify($('Save Standardized Data').first().json.summary?.price_distribution, null, 2) }}",
        "options": {
          "systemMessage": "You are a senior market research analyst. Use the blog knowledge as your primary source to write an authoritative Market Research section.\n\nSECTIONS TO WRITE:\n\n1. MARKET DATA (Use quantitative data from MARKET DATA input)\n     - Market Size: Current value and projected growth\n     - Growth Rate: CAGR percentage\n     - Key Segments: By material, price, distribution\n     - Regional Highlights: If available\n\n2. MARKET OVERVIEW (2-3 paragraphs)\n   - Current state of this rug category market\n   - Key consumer trends driving demand\n   - Where this category fits in home decor\n\n2. BUYER PROFILE\n   - Who buys this category?\n   - Purchase motivations\n   - Key decision factors\n\n3. EXPERT INSIGHTS\n   Include 2-3 \"Expert Tip\" callouts with actionable advice from blog knowledge\n\nOUTPUT FORMAT (HTML only):\n <section class=\"market-research\">\n    <h2>Market Research</h2>\n    <div class=\"market-data\">\n      <h3>Market Data & Forecasts</h3>\n      <div class=\"profile-grid\">\n        <div class=\"profile-card\">\n          <h4>Market Size (2025)</h4>\n          <p style=\"font-size: 24px; font-weight: bold; color: #059669;\">[Value]</p>\n        </div>\n        <div class=\"profile-card\">\n          <h4>Projected (2033)</h4>\n          <p style=\"font-size: 24px; font-weight: bold; color: #059669;\">[Value]</p>\n        </div>\n        <div class=\"profile-card\">\n          <h4>CAGR</h4>\n          <p style=\"font-size: 24px; font-weight: bold; color: #059669;\">[Percentage]</p>\n        </div>\n      </div>\n      <h4>Key Segments</h4>\n      <ul>[Segment insights from market data]</ul>\n    </div>\n    <div class=\"market-overview\">\n      <h3>Market Overview</h3>\n      <p>[Analysis paragraphs]</p>\n    </div>\n    <div class=\"buyer-profile\">\n      <h3>Buyer Profile</h3>\n      <div class=\"profile-grid\">\n        <div class=\"profile-card\">\n          <h4>Who Buys</h4>\n          <p>[Demographics]</p>\n        </div>\n        <div class=\"profile-card\">\n          <h4>Motivations</h4>\n          <ul>[Points]</ul>\n        </div>\n        <div class=\"profile-card\">\n          <h4>Decision Factors</h4>\n          <ul>[Points]</ul>\n        </div>\n      </div>\n    </div>\n    <div class=\"expert-insights\">\n      <h3>Expert Insights</h3>\n      <div class=\"expert-tip\">\n        <span class=\"tip-icon\">💡</span>\n        <div class=\"tip-content\">\n          <h4>[Tip Title]</h4>\n          <p>[Actionable advice]</p>\n        </div>\n      </div>\n    </div>\n  </section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8784,
        288
      ],
      "id": "4dc410e5-d161-4286-a8b1-751286ec841a",
      "name": "Market Research Generator",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        8640,
        512
      ],
      "id": "d78ed4e1-d723-41ca-b4f9-792928a1bec4",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "FvFcjhfK7nSfhmNN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9088,
        288
      ],
      "id": "5067452c-d9a7-42ed-a8a0-7c451c34b60d",
      "name": "Wait7",
      "webhookId": "4a64aef2-a8d6-46d3-aa83-9e4d37b7bea8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nMICRO-SEGMENTS (write FULL descriptions):\n{{ JSON.stringify($('Save Trend List').first().json.microSegments, null, 2) }}\n\nBLOG SIZING KNOWLEDGE:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.sizing, null, 2) }}",
        "options": {
          "systemMessage": "You are a category specialist writing the Category Deep Dive section.\n\nSECTIONS:\n\n1. CATEGORY DEFINITION\n   - What defines this rug type\n   - Typical specifications\n   - Common use cases\n\n2. MICRO-SEGMENTS (CRITICAL - write FULL descriptions)\n   For EACH micro-segment, write a complete feature card:\n   - Segment name\n   - FULL description (3-4 sentences minimum - NEVER truncate)\n   - Visual characteristics\n   - Color palette\n   - Target rooms\n   - Why it's trending\n\n3. SIZING GUIDE\n   Room-by-room recommendations from blog knowledge\n\nOUTPUT FORMAT (HTML only):\n<section class=\"category-deep-dive\">\n  <h2>Category Deep Dive</h2>\n  <div class=\"category-definition\">\n    <h3>Category Definition</h3>\n    <p>[Definition]</p>\n  </div>\n  <div class=\"micro-segments\">\n    <h3>Trending Micro-Segments</h3>\n    <div class=\"segment-cards\">\n      <div class=\"segment-card\">\n        <div class=\"segment-header\">\n          <h4>[Segment Name]</h4>\n          <span class=\"segment-badge\">[positioning]</span>\n        </div>\n        <p class=\"segment-description\">[FULL 3-4 sentence description]</p>\n        <div class=\"segment-meta\">\n          <span>🎨 [Colors]</span>\n          <span>🏠 [Target rooms]</span>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"sizing-guide\">\n    <h3>Sizing Guide</h3>\n    [Room recommendations]\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        9296,
        288
      ],
      "id": "ebab0981-9e39-4ae8-a32b-47bedf5f3938",
      "name": "Create Category Generator Node",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        9168,
        512
      ],
      "id": "bc20d0ec-e681-4a3c-bbb8-5ad240085084",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "FvFcjhfK7nSfhmNN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9616,
        288
      ],
      "id": "2be07836-f813-415a-ae46-0a275cc33c64",
      "name": "Wait8",
      "webhookId": "1cd21d95-2946-442a-aa6c-50f1d88777ae"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ATTRIBUTE DATA:\n{{ JSON.stringify($('Save Standardized Data').first().json.attributeData, null, 2) }}\n\nBLOG MATERIAL EXPERTISE:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.materials, null, 2) }}\n\nPRODUCT COUNT:\n{{ $('Remove Invalid Products').first().json.totalFiltered }}",
        "options": {
          "systemMessage": "You are a product analyst creating data-driven attribute analysis.\n\nSECTIONS:\n\n1. MATERIALS BREAKDOWN\n   - Top materials with percentages (use data bars)\n   - Expert context from blog knowledge\n   - Recommendations for different needs\n\n2. SIZE DISTRIBUTION\n   - Most common sizes\n   - Buyer preference insights\n\n3. COLOR & PATTERN ANALYSIS\n   - Dominant colors with percentages\n   - Trending patterns\n\n4. PRICE POSITIONING\n   - Price bucket distribution\n   - Value insights\n\nInclude actual percentages for visualization. Add expert context from blog knowledge.\n\nOUTPUT FORMAT (HTML only):\n<section class=\"attribute-analysis\">\n  <h2>Product Attribute Analysis</h2>\n  <p class=\"section-intro\">Analysis of products reveals:</p>\n  <div class=\"attribute-grid\">\n    <div class=\"attribute-card\">\n      <h3>Materials</h3>\n      <div class=\"data-bars\">\n        <div class=\"data-row\">\n          <span class=\"label\">[Material]</span>\n          <div class=\"bar-container\"><div class=\"bar\" style=\"width: [X]%\"></div></div>\n          <span class=\"value\">[X]%</span>\n        </div>\n      </div>\n      <div class=\"expert-note\"><strong>Expert Note:</strong> [Context]</div>\n    </div>\n    <div class=\"attribute-card\">\n      <h3>Sizes</h3>\n      [Similar structure]\n    </div>\n    <div class=\"attribute-card\">\n      <h3>Colors & Patterns</h3>\n      [Color chips and pattern list]\n    </div>\n    <div class=\"attribute-card\">\n      <h3>Price Distribution</h3>\n      [Price tiers]\n    </div>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        9824,
        288
      ],
      "id": "f3ca1981-8d7b-4585-8d81-57ebba73ef77",
      "name": "Attribute Generator",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        9696,
        512
      ],
      "id": "da6e627a-0fb3-4b8e-ae5c-241019d1d8cb",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "FvFcjhfK7nSfhmNN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10128,
        288
      ],
      "id": "1706414c-5923-469d-b449-1563f1d3df7f",
      "name": "Wait9",
      "webhookId": "021a6a24-56f1-40c6-91e3-3e18e948cb26"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMAGE ANALYSIS:\n{{ JSON.stringify($('Merge Image Analysis').first().json.imageAnalysis, null, 2) }}\n\nNote: Visual trend data is derived from social media captions and hashtags (Instagram/Pinterest), not direct image analysis. Use the hashtag frequencies and caption text to identify color, pattern, and style trends.\n\nSOCIAL IMAGES COUNT: {{ $('Merge Social Data').first().json.totalSocialImages }}\n\nGENERATED IMAGES COUNT: {{ $('Collect All Images').first().json.generatedImages?.length || 0 }}",
        "options": {
          "systemMessage": "You are a visual trend analyst.\n\nSECTIONS:\n\n1. VISUAL TREND SUMMARY\n   - Overall aesthetic direction\n   - Dominant color story\n   - Pattern trends\n   - Texture preferences\n\n2. MOODBOARD GALLERY\n   Use placeholders: {{GENERATED_IMAGE_0}}, {{GENERATED_IMAGE_1}}, etc.\n   Add descriptive captions\n\n3. SOCIAL REFERENCE GALLERY\n   Use placeholders: {{SOCIAL_IMAGE_0}}, {{SOCIAL_IMAGE_1}}, etc.\n   Include source and caption\n\nOUTPUT FORMAT (HTML only):\n<section class=\"visual-trends\">\n  <h2>Visual Trend Analysis</h2>\n  <div class=\"trend-summary\">\n    <h3>The Visual Story</h3>\n    <p>[Visual direction paragraphs]</p>\n    <div class=\"trend-highlights\">\n      <div class=\"highlight\">\n        <span class=\"highlight-label\">Dominant Colors</span>\n        <div class=\"color-palette-display\">\n          <span class=\"color-swatch\" style=\"background: [color]\">[name]</span>\n        </div>\n      </div>\n      <div class=\"highlight\">\n        <span class=\"highlight-label\">Key Patterns</span>\n        <p>[patterns]</p>\n      </div>\n    </div>\n  </div>\n  <div class=\"moodboard-gallery\">\n    <h3>AI-Generated Moodboards</h3>\n    <div class=\"gallery-grid\">\n      <div class=\"gallery-item\">\n        <img src=\"{{GENERATED_IMAGE_0}}\" alt=\"Moodboard\">\n        <p class=\"gallery-caption\">[Description]</p>\n      </div>\n    </div>\n  </div>\n  <div class=\"social-gallery\">\n    <h3>Trending on Social</h3>\n    <div class=\"gallery-grid\">\n      <div class=\"gallery-item social\">\n        <img src=\"{{SOCIAL_IMAGE_0}}\" alt=\"Social trend\">\n        <p class=\"gallery-caption\"><span class=\"source\">Instagram</span> [caption]</p>\n      </div>\n    </div>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        10304,
        288
      ],
      "id": "23529f46-7c3c-4535-ae0b-f3723785b145",
      "name": "Visual Trends Generator",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        10176,
        512
      ],
      "id": "d25be99d-43c5-4ea7-8adf-59d5e74e091a",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "FvFcjhfK7nSfhmNN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10624,
        288
      ],
      "id": "b985043d-005c-48d7-9346-7efa2a0cd7b8",
      "name": "Wait10",
      "webhookId": "5d08a51f-6060-4b98-85c3-cb5145bf0972"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nBLOG CARE KNOWLEDGE:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.care, null, 2) }}\n\nTOP MATERIALS:\n{{ JSON.stringify($('Save Standardized Data').first().json.summary?.top_materials, null, 2) }}",
        "options": {
          "systemMessage": "You are a risk analyst. Write the Trend Risks section with informed assessments.\n\nANALYZE 5 RISK CATEGORIES:\n1. Performance Risks - durability, quality\n2. Price Risks - cost, value perception\n3. Sustainability Risks - environmental concerns\n4. Care Risks - maintenance, cleaning\n5. Trend Obsolescence - how quickly trends date\n\nRate each: High / Medium / Low\nInclude mitigation suggestions\n\nOUTPUT FORMAT (HTML only):\n<section class=\"trend-risks\">\n  <h2>Trend Risks Assessment</h2>\n  <div class=\"risk-summary\">\n    <span class=\"risk-high\">[X] High</span>\n    <span class=\"risk-medium\">[X] Medium</span>\n    <span class=\"risk-low\">[X] Low</span>\n  </div>\n  <div class=\"risk-cards\">\n    <div class=\"risk-card risk-high\">\n      <div class=\"risk-header\">\n        <span class=\"risk-icon\">🔴</span>\n        <h4>[Risk Title]</h4>\n        <span class=\"risk-badge high\">High Risk</span>\n      </div>\n      <p class=\"risk-description\">[Description]</p>\n      <div class=\"risk-mitigation\"><strong>Mitigation:</strong> [Suggestion]</div>\n    </div>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        10832,
        288
      ],
      "id": "7b99c6a8-b70b-4204-af4b-f34d585e9ed3",
      "name": "Risks Generator",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        10704,
        512
      ],
      "id": "df5b40d2-327b-4654-8070-af9f186ebf48",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "FvFcjhfK7nSfhmNN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        11168,
        288
      ],
      "id": "708a5275-9543-4b1c-8a07-c46fc8ff741a",
      "name": "Wait11",
      "webhookId": "6ba31c37-6264-403b-b8eb-2c6b8391f706"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nMICRO-SEGMENTS:\n{{ JSON.stringify($('Save Trend List').first().json.microSegments?.map(s => s.name), null, 2) }}\n\nTOP ATTRIBUTES:\n{{ JSON.stringify($('Save Standardized Data').first().json.summary, null, 2) }}\n\nBLOG BUYER GUIDANCE:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.buyer_guidance, null, 2) }}",
        "options": {
          "systemMessage": "You are a category strategy consultant. Write actionable recommendations.\n\nSECTIONS:\n\n1. DEMAND SIGNALS\n   - What the data tells us\n   - Consumer preference patterns\n   - Opportunity indicators\n\n2. STRATEGIC RECOMMENDATIONS (4-5 specific actions)\n   - Assortment recommendations\n   - Pricing strategy\n   - Marketing angles\n   - Segment prioritization\n\n3. QUICK WINS (3 immediate actions)\n\n4. WATCH LIST (trends to monitor)\n\nOUTPUT FORMAT (HTML only):\n<section class=\"recommendations\">\n  <h2>Demand Signals & Recommendations</h2>\n  <div class=\"demand-signals\">\n    <h3>What the Data Tells Us</h3>\n    <div class=\"signal-cards\">\n      <div class=\"signal-card\">\n        <span class=\"signal-icon\">📈</span>\n        <p>[Insight]</p>\n      </div>\n    </div>\n  </div>\n  <div class=\"strategic-recs\">\n    <h3>Strategic Recommendations</h3>\n    <div class=\"rec-list\">\n      <div class=\"rec-item\">\n        <span class=\"rec-number\">1</span>\n        <div class=\"rec-content\">\n          <h4>[Title]</h4>\n          <p>[Recommendation]</p>\n          <span class=\"rec-impact\">Impact: High</span>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"quick-wins\">\n    <h3>Quick Wins</h3>\n    <div class=\"wins-grid\">\n      <div class=\"win-card\">\n        <span class=\"win-icon\">⚡</span>\n        <p>[Action]</p>\n      </div>\n    </div>\n  </div>\n  <div class=\"watch-list\">\n    <h3>Watch List</h3>\n    <ul><li>[Trend]</li></ul>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        11376,
        288
      ],
      "id": "f4c69c32-9243-4779-9ce6-dafcbc7074d9",
      "name": "Recommendations Generator",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        11248,
        512
      ],
      "id": "f22ff71a-f8cf-4d6a-a778-615ba4c9c22d",
      "name": "Google Gemini Chat Model7",
      "credentials": {
        "googlePalmApi": {
          "id": "FvFcjhfK7nSfhmNN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all section outputs\nconst sections = {};\n\ntry { sections.executive = $('Executive Summary Generator').first().json.output || ''; } catch(e) { sections.executive = ''; }\ntry { sections.scope = $('Scope Generator').first().json.sectionHtml || ''; } catch(e) { sections.scope = ''; }\ntry { sections.market = $('Market Research Generator').first().json.output || ''; } catch(e) { sections.market = ''; }\ntry { sections.category = $('Category Generator').first().json.output || ''; } catch(e) { sections.category = ''; }\ntry { sections.attributes = $('Attribute Generator').first().json.output || ''; } catch(e) { sections.attributes = ''; }\ntry { sections.visual = $('Visual Trends Generator').first().json.output || ''; } catch(e) { sections.visual = ''; }\ntry { sections.risks = $('Risks Generator').first().json.output || ''; } catch(e) { sections.risks = ''; }\ntry { sections.recommendations = $('Recommendations Generator').first().json.output || ''; } catch(e) { sections.recommendations = ''; }\n\n// Get metadata\nconst category = $('Input Parser1').first().json.selectedCategory;\nconst date = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\n// Get image store\nlet imageStore = { generatedImages: [], socialRefImages: [] };\ntry {\n  const collectData = $('Collect All Images').first().json;\n  imageStore.generatedImages = collectData.generatedImages || [];\n  imageStore.socialRefImages = $('Merge Social Data').first().json.socialImages || [];\n} catch(e) {}\n\nreturn [{\n  json: {\n    sections,\n    metadata: { category, date },\n    imageStore\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11728,
        288
      ],
      "id": "58add844-bf82-40a7-8155-e007020c6919",
      "name": "Collect All Sections"
    },
    {
      "parameters": {
        "jsCode": "var data = $input.first().json;\nvar sections = data.sections;\nvar metadata = data.metadata;\nvar imageStore = data.imageStore;\n\n// Clean markdown artifacts from AI outputs\nfunction cleanSection(html) {\n  if (!html) return '';\n  return html\n    .replace(/```html\\s*/gi, '')\n    .replace(/```\\s*/gi, '')\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .trim();\n}\n\n// Professional CSS - using array join to avoid escaping issues\nvar cssLines = [\n  ':root {',\n  '  --primary: #7C3AED;',\n  '  --primary-light: #A78BFA;',\n  '  --secondary: #1F2937;',\n  '  --accent: #F59E0B;',\n  '  --success: #10B981;',\n  '  --warning: #F59E0B;',\n  '  --danger: #EF4444;',\n  '  --bg-light: #F9FAFB;',\n  '  --bg-card: #FFFFFF;',\n  '  --border: #E5E7EB;',\n  '  --text: #1F2937;',\n  '  --text-light: #6B7280;',\n  '}',\n  '* { margin: 0; padding: 0; box-sizing: border-box; }',\n  'body { font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; font-size: 14px; line-height: 1.6; color: var(--text); background: var(--bg-light); }',\n  '.report-container { max-width: 1000px; margin: 0 auto; padding: 40px 24px; }',\n  '.report-header { background: linear-gradient(135deg, var(--primary) 0%, #5B21B6 100%); color: white; padding: 48px 40px; border-radius: 16px; margin-bottom: 32px; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); }',\n  '.report-header h1 { font-size: 32px; font-weight: 700; margin-bottom: 8px; }',\n  '.report-header .subtitle { font-size: 16px; opacity: 0.9; }',\n  '.report-header .meta { margin-top: 16px; font-size: 13px; opacity: 0.8; }',\n  'section { background: var(--bg-card); border-radius: 12px; padding: 32px; margin-bottom: 24px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }',\n  'section h2 { font-size: 22px; font-weight: 600; color: var(--secondary); margin-bottom: 24px; padding-bottom: 12px; border-bottom: 2px solid var(--primary-light); }',\n  'section h3 { font-size: 16px; font-weight: 600; color: var(--primary); margin: 24px 0 12px 0; }',\n  'section h4 { font-size: 14px; font-weight: 600; color: var(--secondary); margin-bottom: 8px; }',\n  'p { margin-bottom: 12px; }',\n  'ul, ol { margin-left: 20px; margin-bottom: 16px; }',\n  'li { margin-bottom: 6px; }',\n  '.scope-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 16px; }',\n  '.scope-card { background: var(--bg-light); border-radius: 8px; padding: 20px; text-align: center; }',\n  '.scope-icon { font-size: 28px; margin-bottom: 12px; }',\n  '.scope-card h4 { color: var(--primary); margin-bottom: 8px; }',\n  '.scope-card ul { text-align: left; font-size: 13px; margin-left: 16px; }',\n  '.summary-hero { background: linear-gradient(135deg, var(--bg-light) 0%, #EDE9FE 100%); border-radius: 12px; padding: 24px; margin-bottom: 24px; }',\n  '.key-insight { border-left: 4px solid var(--primary); padding-left: 16px; }',\n  '.key-insight .label { font-size: 11px; font-weight: 600; color: var(--primary); text-transform: uppercase; }',\n  '.key-insight p { font-size: 18px; font-weight: 500; margin: 8px 0 0 0; }',\n  '.profile-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; margin-top: 16px; }',\n  '.profile-card { background: var(--bg-light); padding: 16px; border-radius: 8px; }',\n  '.expert-tip { display: flex; gap: 16px; background: linear-gradient(135deg, #FEF3C7 0%, #FDE68A 100%); border-left: 4px solid var(--accent); border-radius: 0 8px 8px 0; padding: 16px; margin: 16px 0; }',\n  '.tip-icon { font-size: 24px; }',\n  '.tip-content h4 { color: var(--secondary); margin-bottom: 4px; }',\n  '.tip-content p { margin: 0; font-size: 13px; }',\n  '.segment-cards { display: grid; gap: 20px; }',\n  '.segment-card { background: var(--bg-light); border-radius: 12px; padding: 24px; border: 1px solid var(--border); }',\n  '.segment-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 12px; }',\n  '.segment-badge { font-size: 11px; background: var(--primary-light); color: white; padding: 4px 10px; border-radius: 12px; }',\n  '.segment-description { line-height: 1.7; margin-bottom: 16px; }',\n  '.segment-meta { display: flex; gap: 16px; font-size: 13px; color: var(--text-light); }',\n  '.attribute-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; }',\n  '.attribute-card { background: var(--bg-light); padding: 20px; border-radius: 8px; }',\n  '.data-bars { margin: 16px 0; }',\n  '.data-row { display: flex; align-items: center; margin-bottom: 12px; }',\n  '.data-row .label { width: 100px; font-size: 13px; font-weight: 500; }',\n  '.data-row .bar-container { flex: 1; height: 8px; background: white; border-radius: 4px; margin: 0 12px; overflow: hidden; }',\n  '.data-row .bar { height: 100%; background: linear-gradient(90deg, var(--primary), var(--accent)); border-radius: 4px; }',\n  '.data-row .value { width: 40px; text-align: right; font-size: 13px; font-weight: 600; }',\n  '.expert-note { font-size: 13px; color: var(--text-light); padding-top: 12px; border-top: 1px solid var(--border); margin-top: 12px; }',\n  '.gallery-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 20px; margin: 20px 0; }',\n  '.gallery-item { background: var(--bg-light); border-radius: 12px; overflow: hidden; border: 1px solid var(--border); }',\n  '.gallery-item img { width: 100%; height: 200px; object-fit: cover; }',\n  '.gallery-caption { padding: 12px 16px; font-size: 13px; color: var(--text-light); }',\n  '.gallery-item.social { background: #FFF7ED; border-color: #FDBA74; }',\n  '.source { display: inline-block; background: #FB923C; color: white; padding: 2px 8px; border-radius: 4px; font-size: 11px; margin-right: 8px; }',\n  '.risk-summary { display: flex; gap: 12px; margin-bottom: 20px; }',\n  '.risk-summary span { padding: 8px 16px; border-radius: 8px; font-weight: 600; font-size: 13px; }',\n  '.risk-high { background: #FEE2E2; color: #DC2626; }',\n  '.risk-medium { background: #FEF3C7; color: #D97706; }',\n  '.risk-low { background: #D1FAE5; color: #059669; }',\n  '.risk-cards { display: grid; gap: 16px; }',\n  '.risk-card { border-radius: 8px; padding: 20px; }',\n  '.risk-card.risk-high { background: #FEF2F2; border-left: 4px solid var(--danger); }',\n  '.risk-card.risk-medium { background: #FFFBEB; border-left: 4px solid var(--warning); }',\n  '.risk-card.risk-low { background: #ECFDF5; border-left: 4px solid var(--success); }',\n  '.risk-header { display: flex; align-items: center; gap: 12px; margin-bottom: 12px; }',\n  '.risk-badge { font-size: 11px; font-weight: 600; padding: 4px 8px; border-radius: 4px; text-transform: uppercase; margin-left: auto; }',\n  '.risk-badge.high { background: var(--danger); color: white; }',\n  '.risk-badge.medium { background: var(--warning); color: white; }',\n  '.risk-badge.low { background: var(--success); color: white; }',\n  '.risk-mitigation { font-size: 13px; color: var(--text-light); margin-top: 12px; padding-top: 12px; border-top: 1px solid var(--border); }',\n  '.signal-cards { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; margin: 16px 0; }',\n  '.signal-card { background: var(--bg-light); padding: 16px; border-radius: 8px; text-align: center; }',\n  '.signal-icon { font-size: 24px; margin-bottom: 8px; }',\n  '.rec-list { display: grid; gap: 16px; }',\n  '.rec-item { display: flex; gap: 16px; padding: 20px; background: var(--bg-light); border-radius: 8px; }',\n  '.rec-number { width: 32px; height: 32px; background: var(--primary); color: white; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: 700; flex-shrink: 0; }',\n  '.rec-impact { display: inline-block; margin-top: 8px; font-size: 12px; font-weight: 600; color: var(--success); }',\n  '.wins-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; }',\n  '.win-card { background: linear-gradient(135deg, #ECFDF5 0%, #D1FAE5 100%); border-radius: 8px; padding: 20px; text-align: center; }',\n  '.win-icon { font-size: 28px; margin-bottom: 8px; }',\n  '.report-footer { text-align: center; padding: 32px; color: var(--text-light); font-size: 12px; }',\n  '@media (max-width: 768px) { .profile-grid, .attribute-grid, .signal-cards, .wins-grid { grid-template-columns: 1fr; } .report-header { padding: 32px 24px; } .report-header h1 { font-size: 24px; } }'\n];\n\nvar CSS = cssLines.join('\\n');\n\n// Build final HTML using string concatenation\nvar html = '<!DOCTYPE html>' +\n  '<html lang=\"en\">' +\n  '<head>' +\n    '<meta charset=\"UTF-8\">' +\n    '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">' +\n    '<title>' + metadata.category + ' Trend Report</title>' +\n    '<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">' +\n    '<style>' + CSS + '</style>' +\n  '</head>' +\n  '<body>' +\n    '<div class=\"report-container\">' +\n      '<header class=\"report-header\">' +\n        '<h1>' + metadata.category + ' Trend Report</h1>' +\n        '<p class=\"subtitle\">Market Intelligence & Trend Analysis</p>' +\n        '<p class=\"meta\">Generated: ' + metadata.date + ' | Wayfair Market Trend Discovery Agent v3</p>' +\n      '</header>' +\n      '<main>' +\n        cleanSection(sections.executive) +\n        cleanSection(sections.scope) +\n        cleanSection(sections.market) +\n        cleanSection(sections.category) +\n        cleanSection(sections.attributes) +\n        cleanSection(sections.visual) + \n        cleanSection(sections.risks) +\n        cleanSection(sections.recommendations) +\n      '</main>' +\n      '<footer class=\"report-footer\">' +\n        '<p>Wayfair Market Trend Discovery Agent v3.0</p>' +\n        '<p>Generated with AI-powered analysis | ' + metadata.date + '</p>' +\n      '</footer>' +\n    '</div>' +\n  '</body>' +\n'</html>';\n\n// Inject generated images\nvar genImages = imageStore.generatedImages || [];\nfor (var i = 0; i < genImages.length; i++) {\n  var img = genImages[i];\n  var placeholder = '{{GENERATED_IMAGE_' + i + '}}';\n  var base64 = img.base64 || img.base64Image || '';\n  if (base64) {\n    var dataUrl = 'data:image/png;base64,' + base64;\n    html = html.split(placeholder).join(dataUrl);\n  }\n}\n\n// Inject social images\nvar socialImages = imageStore.socialRefImages || [];\nfor (var j = 0; j < socialImages.length; j++) {\n  var simg = socialImages[j];\n  var splaceholder = '{{SOCIAL_IMAGE_' + j + '}}';\n  var smimeType = simg.mime_type || simg.mimeType || 'image/jpeg';\n  var sbase64 = simg.image_base64 || simg.base64 || '';\n  if (sbase64) {\n    var sdataUrl = 'data:' + smimeType + ';base64,' + sbase64;\n    html = html.split(splaceholder).join(sdataUrl);\n  }\n}\n\n// Clean up unmatched placeholders\nhtml = html.replace(/\\{\\{GENERATED_IMAGE_\\d+\\}\\}/g, '');\nhtml = html.replace(/\\{\\{SOCIAL_IMAGE_\\d+\\}\\}/g, '');\n\nreturn [{ json: { cleanedHtml: html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11936,
        288
      ],
      "id": "471eaa05-5de1-40e2-9e6a-ac29784fdfa0",
      "name": "Assemble HTML Report"
    },
    {
      "parameters": {
        "jsCode": "// Validate report sections and check images were injected\nconst html = $input.first().json.cleanedHtml || '';\n\nconst requiredSections = [\n  { name: 'Executive Summary', pattern: /executive\\s*summary/i },\n  { name: 'Scope', pattern: /scope|research/i },\n  { name: 'Category', pattern: /category/i },\n  { name: 'Attribute', pattern: /attribute|material|size/i },\n  { name: 'Risk', pattern: /risk/i },\n  { name: 'Demand', pattern: /demand|signal|seo/i }\n];\n\nconst validation = {\n  isValid: true,\n  sectionsFound: [],\n  sectionsMissing: [],\n  warnings: []\n};\n\nrequiredSections.forEach(section => {\n  if (section.pattern.test(html)) {\n    validation.sectionsFound.push(section.name);\n  } else {\n    validation.sectionsMissing.push(section.name);\n  }\n});\n\n// Check for injected images (both PNG and JPEG)\nconst pngImages = (html.match(/data:image\\/png;base64,/g) || []).length;\nconst jpegImages = (html.match(/data:image\\/jpeg;base64,/g) || []).length;\nvalidation.imageCount = pngImages + jpegImages;\n\nif (validation.imageCount === 0) {\n  validation.warnings.push('No images embedded');\n}\n\n// Check HTML structure\nif (!html.includes('</html>')) {\n  validation.warnings.push('HTML may be truncated');\n  validation.isValid = false;\n}\n\nreturn [{ json: { cleanedHtml: html, validation } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12144,
        288
      ],
      "id": "985a9caa-a3b2-490c-9a23-406eabac248d",
      "name": "Section Validator1"
    },
    {
      "parameters": {
        "jsCode": "// Create downloadable HTML file\nconst html = $input.first().json.cleanedHtml || '';\nconst validation = $input.first().json.validation || {};\nconst category = $('Input Parser1').first().json.selectedCategory || 'Rug';\n\n// Generate filename\nconst dateStr = new Date().toISOString().split('T')[0];\nconst categorySlug = category.toLowerCase().replace(/\\s+/g, '_');\nconst fileName = `${categorySlug}_trend_report_${dateStr}.html`;\n\n// Create binary data for download\nconst buffer = Buffer.from(html, 'utf8');\n\nreturn [{\n  json: {\n    fileName: fileName,\n    validation: validation,\n    category: category,\n    generatedAt: new Date().toISOString()\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12352,
        288
      ],
      "id": "9f3fcfd2-5e3b-4906-8a16-92c7c8da1cce",
      "name": "Create Download File1"
    },
    {
      "parameters": {
        "html": "={{ $json.cleanedHtml }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        12560,
        288
      ],
      "id": "7b76661a-f033-4cbc-b712-98cc4c3684a7",
      "name": "HTML Preview1"
    },
    {
      "parameters": {
        "content": "## STAGE 5-6: MERGE & REPORT\nMerges all data into single structure\nReport Writer generates complete HTML with:\n- All 6 required sections\n- Embedded base64 images\n- Professional styling\n- Consistent formatting",
        "height": 704,
        "width": 4544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7072,
        0
      ],
      "typeVersion": 1,
      "id": "24437914-db9f-4e0a-b1bb-35cd2e5d1a75",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## STAGE 7: OUTPUT\n- HTML cleanup & validation\n- Section presence check\n- Create downloadable file\n",
        "height": 704,
        "width": 1136,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        11632,
        0
      ],
      "typeVersion": 1,
      "id": "4aa46a45-577a-40bf-8539-33aefb1a3992",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## STAGE 2A: AMAZON SCRAPING\n\nTwo paths:\n1. Collection URLs → Extract product links → Scrape each\n2. Direct product URLs → Scrape directly\n\nUses Cheerio to parse:\n- Product name, price, brand\n- Details, description, specs\n- Pattern, size, rating\n\nIncludes 1.5s wait between requests.",
        "height": 740,
        "width": 2384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -416
      ],
      "typeVersion": 1,
      "id": "6a28179a-075b-488e-9d2c-f3a513c443da",
      "name": "Stage 2A Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-collection-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -16
      ],
      "id": "d4e7764a-7dae-48f6-9eea-bb6e30a3b327",
      "name": "Is List Empty?"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "product_links",
              "cssSelector": "div div a[href*='/dp/']",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1328,
        -16
      ],
      "id": "cc08c135-b2d0-4eae-876f-e4f2b9b3894e",
      "name": "Extract Product Links",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process Collection URLs - split into individual items\nconst collectionUrls = $input.first().json.collectionUrls || [];\n\nif (collectionUrls.length === 0) {\n  return [{ json: { url: null, type: 'no_collections' } }];\n}\n\nreturn collectionUrls.map(url => ({ json: { url, type: 'collection' } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -16
      ],
      "id": "429519dc-d64b-4857-a07a-f5d1a15ee6bc",
      "name": "Prepare Collection List1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "i18n-prefs=USD; lc-main=en_US; session-id=141-8209501-9981461; session-id-time=2082787201l; ubid-main=134-5719883-5851066"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -16
      ],
      "id": "8d496bb8-2f58-4222-857d-52f8ad20e4c0",
      "name": "Visit Aisle Page1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Clean and deduplicate product URLs from collection (matching v1 approach)\nconst links = $input.first().json.product_links || [];\n\n// Remove duplicates from product_links array\nconst uniqueLinks = [...new Set(links)];\n\n// Add base URL to make complete URLs\nconst fullUrls = uniqueLinks.map(link => {\n  if (link.startsWith('/')) {\n    return `https://www.amazon.com${link}`;\n  }\n  return link;\n});\n\n// Limit to 10 products like v1\nconst limitedUrls = fullUrls.slice(0, 10);\n\nif (limitedUrls.length === 0) {\n  return [{ json: { url: null, type: 'no_products_found', source: 'collection' } }];\n}\n\n// Split URLs into individual items for processing one by one\nreturn limitedUrls.map(url => ({ json: { url, type: 'product', source: 'collection' } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -16
      ],
      "id": "440bdaa6-dd38-42ce-9a68-dbc5b083488c",
      "name": "Remove Duplicate Links1"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1776,
        -16
      ],
      "id": "3d2ee5f4-8b1d-4f0f-a5ac-25f084d0de8e",
      "name": "Pause for Safety1",
      "webhookId": "277a5e8a-bee8-4cb6-a4bc-c18baf01e8a5"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "i18n-prefs=USD; lc-main=en_US; session-id=141-8209501-9981461; session-id-time=2082787201l; ubid-main=134-5719883-5851066"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        -16
      ],
      "id": "e937515c-cc08-4662-befa-3f07795cbfba",
      "name": "Visit Product Page1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Amazon Product Data using Cheerio\nconst cheerio = require('cheerio');\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Handle both full response format and regular format\n    let html = item.json.body || item.json.data || '';\n    let url = '';\n    \n    if (!html) {\n      continue;\n    }\n    \n    const $ = cheerio.load(html);\n    \n    // Extract URL from canonical link in HTML\n    const canonicalUrl = $('link[rel=\"canonical\"]').attr('href');\n    url = canonicalUrl || 'Amazon Product';\n    \n    const name = $('#productTitle').text().trim();\n    if (!name) continue;\n    \n    const price = $('span.a-price span.a-price-whole').first().text().trim();\n    \n    const details = [];\n    $('#feature-bullets ul.a-unordered-list li span.a-list-item').each((i, el) => {\n      const text = $(el).text().trim();\n      if (text && text.length > 0) {\n        details.push(text);\n      }\n    });\n    \n    const pattern = $('#inline-twister-expanded-dimension-text-pattern_name').text().trim();\n    \n    results.push({\n      url,\n      name,\n      price,\n      details,\n      pattern,\n      scraped_at: new Date().toISOString()\n    });\n  } catch (error) {\n    console.error('Error processing item:', error);\n  }\n}\n\nreturn [{\n  json: {\n    products: results,\n    total_scraped: results.length,\n    successful_scrapes: results.length,\n    failed_scrapes: 0,\n    batch_scraped_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        -16
      ],
      "id": "1e262d8e-3418-4b05-9402-f40523fc9aa9",
      "name": "Read Item Details1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process Direct Product URLs - split into individual items\nconst productUrls = $input.first().json.productUrls || [];\n\nif (productUrls.length === 0) {\n  return [{ json: { url: null, type: 'no_products' } }];\n}\n\nreturn productUrls.map(url => ({ json: { url, type: 'direct_product' } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        176
      ],
      "id": "54daff15-0fe9-4394-81f8-fd201da347e8",
      "name": "Prepare Direct Links1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-product-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        176
      ],
      "id": "21d00bd6-fb0d-4f55-a545-4f167007a7dd",
      "name": "Do We Have Direct Links?1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        176
      ],
      "id": "48944aae-d895-405c-a26b-cb323df8e15f",
      "name": "Visit Direct Product Page1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Amazon Product Data using Cheerio\nconst cheerio = require('cheerio');\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Handle both full response format and regular format\n    let html = item.json.body || item.json.data || '';\n    let url = '';\n    \n    if (!html) {\n      continue;\n    }\n    \n    const $ = cheerio.load(html);\n    \n    // Extract URL from canonical link in HTML\n    const canonicalUrl = $('link[rel=\"canonical\"]').attr('href');\n    url = canonicalUrl || 'Amazon Product';\n    \n    const name = $('#productTitle').text().trim();\n    if (!name) continue;\n    \n    const price = $('span.a-price span.a-price-whole').first().text().trim();\n    \n    const details = [];\n    $('#feature-bullets ul.a-unordered-list li span.a-list-item').each((i, el) => {\n      const text = $(el).text().trim();\n      if (text && text.length > 0) {\n        details.push(text);\n      }\n    });\n    \n    const pattern = $('#inline-twister-expanded-dimension-text-pattern_name').text().trim();\n    \n    results.push({\n      url,\n      name,\n      price,\n      details,\n      pattern,\n      scraped_at: new Date().toISOString()\n    });\n  } catch (error) {\n    console.error('Error processing item:', error);\n  }\n}\n\nreturn [{\n  json: {\n    products: results,\n    total_scraped: results.length,\n    successful_scrapes: results.length,\n    failed_scrapes: 0,\n    batch_scraped_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        176
      ],
      "id": "8634c9b3-bfe9-4a0c-914f-95c1070fb3ae",
      "name": "Read Direct Item Details1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Combine all Amazon product data\nconst allItems = $input.all();\nlet allProducts = [];\n\nfor (const item of allItems) {\n  if (item.json.products && Array.isArray(item.json.products)) {\n    allProducts = allProducts.concat(item.json.products);\n  }\n}\n\n// Deduplicate by URL\nconst seen = new Set();\nconst uniqueProducts = allProducts.filter(p => {\n  if (seen.has(p.url)) return false;\n  seen.add(p.url);\n  return true;\n});\n\nreturn [{\n  json: {\n    amazonProducts: uniqueProducts,\n    totalProducts: uniqueProducts.length,\n    scrapedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        80
      ],
      "id": "b0364ddb-2bb3-4784-909f-7948bcfcb127",
      "name": "Deduplicate + Combine Final Amazon Product List1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2448,
        80
      ],
      "id": "7a1e8677-3c60-4a0f-aad1-d6d85ba8f4d4",
      "name": "Merge Amazon Products (Collection + Direct)1"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/trends/instagram",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        464
      ],
      "id": "959a2076-c594-40af-86b4-771818e1b900",
      "name": "Fetch Instagram"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Wayfair Reports",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        12560,
        848
      ],
      "id": "5033bc29-c55f-4d89-a692-79f23c9b9e12",
      "name": "Find Wayfair Reports",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KFlm4l0A0hQcQw7B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Store root folder ID and pass along upload info\nconst rootFolderId = $input.first().json.id;\nconst downloadFile = $('Create Download File1').first();\nconst category = $('Input Parser1').first().json.selectedCategory || 'Unknown';\nconst binary = downloadFile.binary;\n\nconst today = new Date().toISOString().split('T')[0];\nconst safeCategory = category.replace(/\\\\s+/g, '_');\nconst fileName = `P2_Market_Report_${safeCategory}.html`;\n\nreturn [{\n  json: {\n    rootFolderId: rootFolderId,\n    category: category,\n    dateFolderName: today,\n    fileName: fileName\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12768,
        848
      ],
      "id": "626e5cee-346d-4902-b914-601bc916a53c",
      "name": "Store Root ID"
    },
    {
      "parameters": {
        "jsCode": "// Check if category folder exists\nconst searchResult = $input.first().json;\nconst prevData = $('Store Root ID').first().json;\nconst binary = $('Store Root ID').first().binary;\n\nconst categoryExists = searchResult.id ? true : false;\n\nreturn [{\n  json: {\n    categoryExists: categoryExists,\n    categoryFolderId: searchResult.id || null,\n    rootFolderId: prevData.rootFolderId,\n    category: prevData.category,\n    dateFolderName: prevData.dateFolderName,\n    fileName: prevData.fileName\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13184,
        848
      ],
      "id": "24e96281-14f5-44da-ab4f-e68b386f4394",
      "name": "Check Category"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.category }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.rootFolderId }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        12976,
        848
      ],
      "id": "b6301c42-967c-4535-85a2-648d2591b013",
      "name": "Find Category Folder1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KFlm4l0A0hQcQw7B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "516a52dc-39a6-4971-84be-88fca647766a",
              "leftValue": "={{ $json.categoryExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        13392,
        848
      ],
      "id": "b2413608-ed72-49bf-b171-a2b5ae7e84ce",
      "name": "Category Exists?"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.category }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.rootFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        13664,
        976
      ],
      "id": "196504f5-8c94-4be5-909f-8197f6eb95c4",
      "name": "Create Category",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KFlm4l0A0hQcQw7B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge category folder results\nconst items = $input.all();\nlet categoryFolderId = null;\nlet category = '';\nlet dateFolderName = '';\nlet fileName = '';\nlet binary = null;\n\nfor (const item of items) {\n  const json = item.json;\n  \n  // From existing category (true branch)\n  if (json.categoryFolderId) {\n    categoryFolderId = json.categoryFolderId;\n  }\n  // From created category (false branch) \n  if (json.id && json.name) {\n    categoryFolderId = json.id;\n  }\n  \n  if (json.category) category = json.category;\n  if (json.dateFolderName) dateFolderName = json.dateFolderName;\n  if (json.fileName) fileName = json.fileName;\n  if (item.binary) binary = item.binary;\n}\n\n// Get from Check Category if needed\nif (!category || !dateFolderName || !fileName) {\n  const checkData = $('Check Category').first().json;\n  category = category || checkData.category;\n  dateFolderName = dateFolderName || checkData.dateFolderName;\n  fileName = fileName || checkData.fileName;\n}\nif (!binary) {\n  binary = $('Check Category').first().binary;\n}\n\nreturn [{\n  json: {\n    categoryFolderId,\n    category,\n    dateFolderName,\n    fileName\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13952,
        832
      ],
      "id": "42e0bd75-296e-4e55-8133-7da08a00fa38",
      "name": "Merge Category"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.dateFolderName }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.categoryFolderId }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        14160,
        832
      ],
      "id": "c18168a9-c7f8-4b10-8982-1dde58c20a63",
      "name": "Find Date Folder1",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KFlm4l0A0hQcQw7B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if date folder exists\nconst searchResult = $input.first().json;\nconst prevData = $('Merge Category').first().json;\nconst binary = $('Merge Category').first().binary;\n\nconst dateExists = searchResult.id ? true : false;\n\nreturn [{\n  json: {\n    dateExists: dateExists,\n    dateFolderId: searchResult.id || null,\n    categoryFolderId: prevData.categoryFolderId,\n    dateFolderName: prevData.dateFolderName,\n    fileName: prevData.fileName\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14352,
        832
      ],
      "id": "bd375a68-6214-4133-9a7f-0fb4452e130e",
      "name": "Check Date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "480b31d0-ef96-4236-a579-4e4a67534bc1",
              "leftValue": "={{ $json.dateExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        14544,
        832
      ],
      "id": "0bc50c96-3cd8-4411-8faf-fe3219c5288c",
      "name": "Date Exists?"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.dateFolderName }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.categoryFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        14816,
        992
      ],
      "id": "4850cdb3-6477-4428-8cc0-fa2594bdaf68",
      "name": "Create Date Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KFlm4l0A0hQcQw7B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get date folder ID from either branch\nconst items = $input.all();\n\nlet dateFolderId = null;\nlet categoryName = '';\nlet dateFolderName = '';\n\nfor (const item of items) {\n  // From 'true' branch (date existed)\n  if (item.json.dateFolderId) {\n    dateFolderId = item.json.dateFolderId;\n    categoryName = item.json.categoryName;\n    dateFolderName = item.json.dateFolderName;\n  }\n  // From 'false' branch (date was created)\n  if (item.json.id && !item.json.dateExists) {\n    dateFolderId = item.json.id;\n    dateFolderName = item.json.name;\n  }\n}\n\n// Fallback\nif (!dateFolderId) {\n  const firstItem = items[0]?.json;\n  dateFolderId = firstItem?.id || firstItem?.dateFolderId;\n}\n\n// Get category name from Input Parser if needed\nif (!categoryName) {\n  categoryName = $('Input Parser1').first().json.selectedCategory || 'Unknown';\n}\nif (!dateFolderName) {\n  dateFolderName = new Date().toISOString().split('T')[0];\n}\n\n// Build filename\nconst safeCategory = categoryName.replace(/\\s+/g, '_');\nconst fileName = `P2_Market_Report_${safeCategory}.html`;\n\n// Get binary data from Create Download File1\nconst binary = $('Create Download File1').first().binary;\n\nreturn [{\n  json: {\n    dateFolderId,\n    fileName,\n    categoryName,\n    dateFolderName\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15136,
        816
      ],
      "id": "03934f88-a575-44f7-90ce-8f7e3eacff03",
      "name": "Merge Date"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.dateFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        15344,
        816
      ],
      "id": "2f94eda0-7d14-41f8-bb7f-fa7a5681c871",
      "name": "Upload to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KFlm4l0A0hQcQw7B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Stage 8: Upload to Google Drive",
        "height": 400,
        "width": 3024,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        12528,
        752
      ],
      "typeVersion": 1,
      "id": "5bcb7959-82c4-4f2c-ba53-b42b818826ba",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parser1": {
      "main": [
        [
          {
            "node": "Category Validator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Validator1": {
      "main": [
        [
          {
            "node": "Get Category Key",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Collection List1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Direct Links1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category Key": {
      "main": [
        [
          {
            "node": "Fetch Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Pinterest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Blogs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pinterest": {
      "main": [
        [
          {
            "node": "Merge API Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Blogs": {
      "main": [
        [
          {
            "node": "Merge API Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch Market Data": {
      "main": [
        [
          {
            "node": "Merge API Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge API Data": {
      "main": [
        [
          {
            "node": "Merge Social Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Social Data": {
      "main": [
        [
          {
            "node": "Merge Image Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Image Analysis": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Judge Product Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Judge Product Category",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Judge Product Category": {
      "main": [
        [
          {
            "node": "Remove Invalid Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Invalid Products": {
      "main": [
        [
          {
            "node": "Standardize Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Standardize Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Details": {
      "main": [
        [
          {
            "node": "Save Standardized Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Standardized Data": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Identify Top Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Identify Top Trends",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Identify Top Trends": {
      "main": [
        [
          {
            "node": "Save Trend List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Trend List": {
      "main": [
        [
          {
            "node": "Split Segments for Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Segments for Images": {
      "main": [
        [
          {
            "node": "Check Segment Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Segment Exists": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect All Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Clean Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Prompt": {
      "main": [
        [
          {
            "node": "Generate Image (Hugging Face)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Hugging Face)": {
      "main": [
        [
          {
            "node": "Encode to Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode to Base": {
      "main": [
        [
          {
            "node": "Collect All Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Images": {
      "main": [
        [
          {
            "node": "Blog Knowledge Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Knowledge Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blog Knowledge Extractor": {
      "main": [
        [
          {
            "node": "Parse Blog Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Blog Knowledge": {
      "main": [
        [
          {
            "node": "Scope Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scope Generator": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Executive Summary Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Executive Summary Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Executive Summary Generator": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Market Research Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Market Research Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Market Research Generator": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Create Category Generator Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Create Category Generator Node",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Category Generator Node": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Attribute Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Attribute Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Attribute Generator": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "Visual Trends Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Visual Trends Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Visual Trends Generator": {
      "main": [
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "Risks Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Risks Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Risks Generator": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "Recommendations Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Recommendations Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recommendations Generator": {
      "main": [
        [
          {
            "node": "Collect All Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Sections": {
      "main": [
        [
          {
            "node": "Assemble HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble HTML Report": {
      "main": [
        [
          {
            "node": "Section Validator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Validator1": {
      "main": [
        [
          {
            "node": "Create Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Download File1": {
      "main": [
        [
          {
            "node": "HTML Preview1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Wayfair Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is List Empty?": {
      "main": [
        [
          {
            "node": "Visit Aisle Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Links": {
      "main": [
        [
          {
            "node": "Remove Duplicate Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Collection List1": {
      "main": [
        [
          {
            "node": "Is List Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Aisle Page1": {
      "main": [
        [
          {
            "node": "Extract Product Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Links1": {
      "main": [
        [
          {
            "node": "Pause for Safety1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause for Safety1": {
      "main": [
        [
          {
            "node": "Visit Product Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Product Page1": {
      "main": [
        [
          {
            "node": "Read Item Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Item Details1": {
      "main": [
        [
          {
            "node": "Merge Amazon Products (Collection + Direct)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Direct Links1": {
      "main": [
        [
          {
            "node": "Do We Have Direct Links?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do We Have Direct Links?1": {
      "main": [
        [
          {
            "node": "Visit Direct Product Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Direct Product Page1": {
      "main": [
        [
          {
            "node": "Read Direct Item Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Direct Item Details1": {
      "main": [
        [
          {
            "node": "Merge Amazon Products (Collection + Direct)1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Amazon Products (Collection + Direct)1": {
      "main": [
        [
          {
            "node": "Deduplicate + Combine Final Amazon Product List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate + Combine Final Amazon Product List1": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instagram": {
      "main": [
        [
          {
            "node": "Merge API Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Wayfair Reports": {
      "main": [
        [
          {
            "node": "Store Root ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Root ID": {
      "main": [
        [
          {
            "node": "Find Category Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Category Folder1": {
      "main": [
        [
          {
            "node": "Check Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Category": {
      "main": [
        [
          {
            "node": "Category Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Exists?": {
      "main": [
        [
          {
            "node": "Merge Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Category": {
      "main": [
        [
          {
            "node": "Merge Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Category": {
      "main": [
        [
          {
            "node": "Find Date Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Date Folder1": {
      "main": [
        [
          {
            "node": "Check Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Date": {
      "main": [
        [
          {
            "node": "Date Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Exists?": {
      "main": [
        [
          {
            "node": "Merge Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Date Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Date Folder1": {
      "main": [
        [
          {
            "node": "Merge Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Date": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b14b27bc-464b-43af-8733-38b4f23200a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78aec83a7c974db6d6721e24db25f559e9feb57e2069c80d5e856f7408ae8f63"
  },
  "id": "VS9raN6AcpSwAI7P",
  "tags": []
}